
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/AdminLTE-3.2.0/dist/img/main.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Easy Cash <span class="text-light">Panel</span></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/AdminLTE-3.2.0/dist/img/profile1.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block ">Kadir GÜVEN</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="pages/widgets.html" class="nav-link">
                        <i class="fi fi-br-home nav-icon text-primary"></i> &nbsp;
                        <p>
                           Ana Sayfa
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fi fi-br-bank nav-icon text-warning"></i> &nbsp;
                        <p>
                            Hesap İşlemleri
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/SendMoney/Index/" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-warning"></i> &nbsp;
                                <p>Para Transferi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/MyLastProcess/Index" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-warning"></i> &nbsp;
                                <p>Son İşlemlerim</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/inline.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-warning"></i> &nbsp;
                                <p>QR ile Para Gönder</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/uplot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-warning"></i> &nbsp;
                                <p>IBAN Paylaş</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/uplot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-warning"></i> &nbsp;
                                <p>Hesaplarım Arası Trans</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/uplot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-warning"></i> &nbsp;
                                <p>Cebe Havale</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fi fi-br-wallet nav-icon text-info"></i>&nbsp;
                        <p>
                            Para Transferleri
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="SendMoney" asp-action="Index" asp-route-mycurrency="TL" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-info"></i> &nbsp;
                                <p>TL Transferi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="SendMoney" asp-action="Index" asp-route-mycurrency="USD" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-info"></i> &nbsp;
                                <p>Dolar Transfer</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="SendMoney" asp-action="Index" asp-route-mycurrency="EUR" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-info"></i> &nbsp;
                                <p>Euro Transfer</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="SendMoney" asp-action="Index" asp-route-mycurrency="Other" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-info"></i> &nbsp;
                                <p>Diğer Transferler</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fi fi-br-bank nav-icon text-secondary"></i> &nbsp;
                        <p>
                            Hesaplarım
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/charts/chartjs.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-secondary"></i> &nbsp;
                                <p>Tüm Hesaplarım</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/flot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-secondary"></i> &nbsp;
                                <p>Yeni Hesap Aç</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/inline.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-secondary"></i> &nbsp;
                                <p>Vadesiz Hesaplarım</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/uplot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-secondary"></i> &nbsp;
                                <p>Vadeli Hesaplarım</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/uplot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-secondary"></i> &nbsp;
                                <p>Altın Hesaplarım</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/uplot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-secondary"></i> &nbsp;
                                <p>Kredi Hesaplarım</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/uplot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-secondary"></i> &nbsp;
                                <p>Dolar Hesaplarım</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/uplot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-secondary"></i> &nbsp;
                                <p>Euro Hesaplarım</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fi fi-br-comment-dollar nav-icon text-danger"></i> &nbsp;
                        <p>
                            Ödemeler
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/charts/chartjs.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-danger"></i> &nbsp;
                                <p>Fature Ödemeleri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/flot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-danger"></i> &nbsp;
                                <p>Eğitim Ödemeleri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/inline.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-danger"></i> &nbsp;
                                <p>Trafik Ödemeleri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/uplot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-danger"></i> &nbsp;
                                <p>Sınav Ödemeleri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/uplot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-danger"></i> &nbsp;
                                <p>Sigorta Ödemeleri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/uplot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-danger"></i> &nbsp;
                                <p>Diğer Ödemeler</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fi fi-br-dollar nav-icon text-success"></i> &nbsp;
                        <p>
                            Döviz ve Altın
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/charts/chartjs.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-success"></i> &nbsp;
                                <p>Döviz Kurları</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/flot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-success"></i> &nbsp;
                                <p>Döviz İşlemleri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/inline.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-success"></i> &nbsp;
                                <p>Altın İşlemleri</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fi fi-br-piggy-bank nav-icon text-warning"></i> &nbsp;
                        <p>
                            Krediler
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/charts/chartjs.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-light"></i> &nbsp;
                                <p>Kredi Hesaplarım</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/flot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-light"></i> &nbsp;
                                <p>Kredi Başvurusu</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/inline.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-light"></i> &nbsp;
                                <p>Kredi Ödemeleri</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fi fi-br-credit-card nav-icon text-info"></i> &nbsp;
                        <p>
                            Kartlarım
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/charts/chartjs.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-info"></i> &nbsp;
                                <p>Kredi Kartlarım</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/flot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-info"></i> &nbsp;
                                <p>Banka Kartlarım</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/inline.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-info"></i> &nbsp;
                                <p>Sanal Kartlarım</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fi fi-br-user-gear nav-icon text-secondary"></i>&nbsp;
                        <p>
                            Ayarlar
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/charts/chartjs.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-secondary"></i> &nbsp;
                                <p>Şifre Değiştir</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/flot.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-secondary"></i> &nbsp;
                                <p>Profil Bilgileri</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/inline.html" class="nav-link">
                                <i class="fi fi-br-angle-right nav-icon text-secondary"></i> &nbsp;
                                <p>İletişim Bilgileri</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="pages/widgets.html" class="nav-link">
                        <i class="fi fi-br-sign-out-alt nav-icon text-danger"></i> &nbsp;
                        <p>
                            Çıkış Yap
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>
